<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<h2>Add new product</h2>
		<form class="form-horizontal" action="#" th:action="@{/addproduct}"
			th:object="${newproduct}" method="post">
			<div class="form-group">
				<label class="control-label col-sm-2" for="sku">SKU:</label>
				<p class="col-sm-5">
					<input type="text" class="form-control" id="sku"
						placeholder="ga234" name="sku" th:field="*{sku}" />
				</p>
				<div class="col-sm-5 alert alert-danger">
					<strong th:if="${#fields.hasErrors('sku')}" th:errors="*{sku}"></strong>
				</div>
				
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="label">Label:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="label"
						placeholder="iphone 5" name="label" th:field="*{label}" />
				</div>
				<div class="alert alert-danger">
					<strong th:if="${#fields.hasErrors('label')}" th:errors="*{label}"></strong>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="desc">description:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="desc"
						placeholder="lorem ipsum" name="description"
						th:field="*{description}" />
				</div>
				<div class="alert alert-danger">
					<strong th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></strong>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>

</body>
</html>

