<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<h2>Products list</h2>
		<p>List of all available products</p>
		<a href="/addproduct"><button type="button"
				class="btn btn-primary">add product</button></a>
		<button type="button" class="btn btn-success">Edit</button>
		<button type="button" class="btn btn-danger">delete</button>
		<button type="button" class="btn btn-danger">delete selected</button>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>SKU</th>
					<th>Label</th>
					<th>Description</th>
					<th>edit</th>
					<th>delete</th>
					<th>select</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${listproduct}">
					<td th:text="${product.sku}">Onions</td>
					<td th:text="${product.label}">2.41</td>
					<td th:text="${product.description}">yes</td>
					<td >edit</td>
					<td >delete</td>
					<td >select</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>

