<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<body>
	<div th:fragment="navigation">
		<nav class="navbar navbar-inverse bg-primary">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/products">Birenzi</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="/products">Products<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/addproduct">Add product</a></li>
							<li><a href="/products">All products</a></li>
						</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="/categories">Category<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/addcategory">Add category</a></li>
							<li><a href="/categories">All categories</a></li>
						</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="/brands">Brand<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/addbrand">Add brand</a></li>
							<li><a href="/brands">All brands</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>
							Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
							Login</a></li>
				</ul>
			</div>
		</nav>
	</div>



</body>
</html>

